@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,500;1,700&display=swap');

.carousel-item {
  height:  800px ;
}

body {
  font-family: 'Roboto', sans-serif;
}

.carousel-inner{
background-color: rgba(0, 0, 0, .6);


}

.tehno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 287px;
  background-color: #06050582;
  margin-top: 0%;
  background-repeat: no-repeat; 
  
}

.text {
  font-size: 28px;
  color: black;

  
}

.tehno__title {

  color: #1D1D1D;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;

}

.tehno__link {
  display: flex;
  font-size: 20px;
  color: #1D1D1D;
  font-family: 'HelveticaNeueCyr';
  text-decoration: none;

}
#bg-box{
  background-image: url(https://avatars.mds.yandex.net/i?id=40d2a09e44095ecfb4a94f78c84c6d51-5888941-images-thumbs&n=13);
  background-attachment: fixed;
  min-height: 500px;
  position: relative;
}
.dark-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
background-color: rgba(0, 0, 0, .6);
top:0;
left: 0;
}
.furniture__info{
  background-color: #F4F3E4;;
}